---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await getCollection('posts');
const title = 'Tobias Ziegler | Blog';
---

<BaseLayout title={title}>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`} title={post.data.title} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
