---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tobias Ziegler | Impressum" noindex>
  <div class="flex justify-center p-8">
    <div class="w-full max-w-5xl">
      <h1 class="text-5xl">Impressum</h1>

      <h2 class="text-4xl mt-8">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p class="mt-2">
        Tobias Ziegler<br />
        Simon-Sch&ouml;ffel-Stra&szlig;e 12<br />
        90427 N&uuml;rnberg
      </p>

      <h2 class="text-4xl mt-8">Kontakt</h2>
      <p class="mt-2">
        Telefon: 015142345482<br />
        E-Mail: me@tobiasziegler.dev
      </p>

      <p class="mt-8">
        Quelle: <a href="https://www.e-recht24.de/impressum-generator.html"
          >https://www.e-recht24.de/impressum-generator.html</a
        >
      </p>
    </div>
  </div>
</Layout>
