---
interface Props {
  title: string;
  description: string;
  link: string;
  invisible?: boolean;
}

const { title, description, link, invisible } = Astro.props;
---

<a
  class={`${
    invisible && 'md:invisible'
  } border p-5 text-white rounded-2xl md:w-5/12 md:max-w-sm hover:bg-zinc-900`}
  href={link}
  target="_blank"
>
  <div class="flex h-full flex-col justify-between space-y-4">
    <h3 class="text-xl font-bold tracking-tighter">{title}</h3>
    <p class="text-sm font-light">{description}</p>
  </div>
</a>
