---
import type { Route } from '../types/Route';

const routes: Route[] = [
  {
    href: 'mailto:me@tobiasziegler.dev',
    name: 'me@tobiasziegler.dev',
    tab: true,
  },
  {
    href: 'https://github.com/tobitaku',
    name: 'GitHub',
    tab: true,
  },
  {
    href: 'https://www.linkedin.com/in/tobias-c-ziegler/',
    name: 'LinkedIn',
    tab: true,
  },
  { href: '/impressum', name: 'Impressum', tab: false },
  { href: '/datenschutz', name: 'Datenschutz', tab: false },
];
---

<footer class="font-light text-sm text-white">
  <hr class="mb-4 border-zinc-400" />
  <nav class="flex text-zinc-400 flex-col flex-wrap space-y-3">
    {
      routes.map((route) => (
        <a
          class="w-fit hover:text-white"
          href={route.href}
          target={route.tab ? '_blank' : '_self'}
        >
          {route.name}
          <span class="text-white">→</span>
        </a>
      ))
    }
  </nav>
  <p class="mt-8 text-xs">© Tobias Ziegler</p>
</footer>
