---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<button
  class="bg-transparent text-white border border-slate-400 leading-6 px-4 py-3 rounded-lg font-semibold text-sm w-fit hover:border-white"
  ><a href="https://github.com/tobitaku" target="_blank">{content}</a>
</button>
