---
interface Route {
  slug: string;
  name: string;
}

const routes: Route[] = [
  {
    slug: '/',
    name: 'Home',
  },
  { slug: '/blog', name: 'Blog' },
];
const currentRoute = Astro.url.pathname;
---

<header class="font-light text-sm text-slate-400">
  <nav class="space-x-2">
    {
      routes.map((route) => (
        <>
          <a
            class:list={[
              'hover:text-white',
              { 'text-white': currentRoute === route.slug },
            ]}
            href={route.slug}
          >
            {route.name}
          </a>
          <span class="text-white">/</span>
        </>
      ))
    }
  </nav>
</header>
