---
import type { Route } from '../types/Route';
interface Props {
  routes: Route[];
}

const { routes } = Astro.props;
const currentRoute =
  Astro.url.pathname.endsWith('/') && Astro.url.pathname.length > 1
    ? Astro.url.pathname.slice(0, -1)
    : Astro.url.pathname;
---

<nav class="flex items-center flex-wrap space-x-2">
  {
    routes.map((route) => (
      <a
        class:list={[
          'hover:text-white',
          {
            'text-white underline underline-offset-8 decoration-zinc-400':
              currentRoute === route.href,
          },
        ]}
        href={route.href}
        target={route.tab ? '_blank' : '_self'}
      >
        {route.name}
      </a>
    ))
  }
</nav>
