---
interface Props {
  title: string;
  technologies: string[];
  href: string;
  tab: boolean;
}

const { title, technologies, href, tab } = Astro.props;
---

<a
  class="bg-zinc-800 flex flex-col space-y-1 text-sm cursor-pointer rounded-lg p-4 transition ease-in-out delay-150 hover:-translate-y-1 duration-300 motion-reduce:transition-none"
  href={href}
  target={tab ? '_blank' : '_self'}
  ><h3 class="font-semibold tracking-wide mr-4">{title}</h3>
  <div>
    {
      technologies.map((technology, idx) => (
        <>
          <span class="text-zinc-400">{technology}</span>
          {idx !== technologies.length - 1 && <span>•</span>}
        </>
      ))
    }
    <span>→</span>
  </div>
</a>
