---

---

<div
  class="fixed -z-10 rounded-full bg-indigo-900 w-96 h-96 blur-3xl opacity-30 -top-28 -left-28"
>
</div>
<div
  class="fixed -z-10 rounded-full bg-violet-900 w-96 h-96 blur-3xl opacity-30 top-28 right-96"
>
</div>
<div
  class="fixed -z-10 rounded-full bg-pink-900 w-96 h-96 blur-3xl opacity-30 -bottom-28 -right-28"
>
</div>
